*{
    box-sizing: border-box;
}

.cim{
    text-align: center;
    margin: 5px 10px 5px 10px;
    border: 3px solid rgb(5, 202, 202);
    border-radius: 25px;
    background-color:  rgb(78, 224, 224);
    color: rgb(255, 255, 255);
}

nav{
    border: 2px ;
    background-color:  rgb(78, 224, 224); 
    margin: 0px 0 10px 0;
    border-radius: 25px;
    border: 3px solid rgb(5, 202, 202);
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    
}

nav ul li a{
    text-decoration: none;
    color: white;

}
nav ul li a:hover{
    
    color: rgb(78, 224, 224);

}

