*{
    box-sizing: border-box;
}

.cim{
    float: left;
    margin: 5px 10px 5px 10px;
    border: 3px solid rgb(252, 115, 2);
    border-radius: 25px;
    background-color:  rgb(14, 12, 12);
    color: rgb(253, 118, 55);
}

nav{
    border: 2px ;
    background-color:  rgb(14, 12, 12); 
    margin: 0px 0 10px 0;
    border-radius: 25px;
    border: 3px solid rgb(253, 118, 55);
}

nav ul{
    text-align: right;
    
}

nav ul li{
    display: inline-block;
    margin: 15px 0 0px 0;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    background-color: rgb(253, 118, 55);
    margin: px;
    border: 2px solid rgb(172, 75, 30);
    border-radius: 10px;
}
nav ul li a:hover{
    
    color: rgb(253, 118, 55);
    background-color: black;

}

